:root {
	--main-bg: transparent;
}
.message {
	--color-light: #e5e5ea;
}

@media (prefers-color-scheme: dark) {
	.message {
		--color-light: #222;
	}
}

h1 {
	margin-bottom: 0.25em;
}
.user-message * {
	display: inline-block;
}
.user-message:after,
.user-message:before {
	content: "";
	position: absolute;
	bottom: 0;
	border-bottom-left-radius: 30px;
}
.message:before {
	content: "" !important;
	margin: 0;
}
.message {
	min-height: 40px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 10px 20px;
	max-width: 500px;
	display: table;
	line-height: 1.25em;
	position: relative;
	overflow-wrap: break-word;
	-webkit-border-radius: 20px;
}
.bot-message {
	background: var(--color-light);
}
.messageOptions {
	--color-light: #333;
}

.bot-message:before {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: -20px;
	height: 40px;
	width: 40px;
	background: var(--color-light);
	border-bottom-right-radius: 30px;
}
.bot-message:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: -20px;
	width: 20px;
	height: 40px;
	background: var(--color-bg);
	border-bottom-right-radius: 30px;
}
.user-message:before {
	z-index: 0;
	right: -20px;
	height: 40px;
	width: 40px;
	background: fixed;
	background-color: var(--color-primary);
}
.user-message:after {
	z-index: 1;
	right: -21px;
	width: 21px;
	height: 41px;
	background: var(--color-bg);
}
.bot-message > :first-child:before {
	background-image: url("../themes/emoji_information_desk.svg");
	content: "";
	margin-right: 15px;
}

@media screen and (max-width: 500px) {
	#chat,
	.message {
		max-width: 90%;
	}
}
