variables:
  FILES_TO_COMPRESS: "htm html txt text js css md ico svg"

pages:
  image: alpine:latest
  before_script:
    - apk update && apk add gzip brotli
  script:
    - mkdir -p .public .public/widget/ .public/css/themes .public/js/addOns
    - cp favicon.svg index.html script.min.js script.min.js.map widget.min.js .public/
    - cp css/styles.min.css .public/css/
    - cp css/themes/* .public/css/themes/
    - cp widget/message.svg .public/widget/
    - cp -r js/addOns/* .public/js/addOns/
    - mv .public public
    - for ext in $FILES_TO_COMPRESS; do find public -type f -name "*.$ext" -exec gzip -f -k {} \;; done
    - for ext in $FILES_TO_COMPRESS; do find public -type f -name "*.$ext" -exec brotli -f -k {} \;; done
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
